{% extends "layout.html" %}
{% block body %}
<div class="col-sm-4">
	<div class="card" id="register-card">
		<h5 class="card-header">Register</h5>
		<div class="card-body">
			<p id="error" style="display: none;"></p>
			<form action="{{ url_for('login') }}" method=post id="Form">
				<div class="form-group">
					<label>First Name</label>
					<input type=text class="form-control" name=first_name>
				</div>
				<div class="form-group">
					<label>Last Name</label>
					<input type=text class="form-control" name=last_name>
				</div>
				<div class="form-group">
					<label>email</label>
					<input type="email" class="form-control" placeholder="name@example.com" name=email>
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type=password class="form-control" name=password>
				</div>
				<div class="form-group">
					<label>Verify Password</label>
					<input type=password class="form-control" name=verify>
				</div>
			</form>
			<button  class="btn btn-primary" type="button" id="register">Register</button>
		</div>
	</div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='register.js') }}"></script>
{% endblock %}