{% extends "layout.html" %}
{% block body %}
<div class="container">
	<div class="box">
		<h2>Register</h2>
		<p id="error" style="display: none;"></p>
		<form action="{{ url_for('login') }}" method=post id="Form">
			<dl>
				<dt>First Name:
		        <dd><input type=text name=first_name>
				<dt>Last Name:
		        <dd><input type=text name=last_name>
				<dt>email:
				<dd><input type=text name=email>
		        <dt>Password:
		        <dd><input type=password name=password>
				<dt>Verify Password:
				<dd><input type=password name=verify>
			</dl>
		</form>
		<button  type="button" id="register">Register</button>
	</div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='register.js') }}"></script>
{% endblock %}