{% extends "layout.html" %}
{% block body %}
   <h2>Login</h2>
   <p id="error" style="display: none;"><strong id="error_msg"></strong></p>
   <form action="{{ url_for('login') }}" method=post id="Form">
      <dl>
         <dt>Username:
         <dd><input type=text name=username>
         <dt>Password:
         <dd><input type=password name=password>
      </dl>
   </form>
   <button id="submit">submit</button>
   
<script type="text/javascript" src="{{ url_for('static', filename='login.js') }}"></script>
{% endblock %}