{% extends "layout.html" %}
{% block body %}
<div class="col-sm-4">
	<div class="card" id="register-card">
		<h5 class="card-header">Share Group</h5>
      <div class="card-body">
         <form id="shareForm">
				<div class="form-group">
               <label>User to share with:</label>
               <select class="form-control" name=username required>
                  {% for user in users %}
                     {% for username in user %}
                        <option value="{{username}}">{{username}}</option>
                     {% endfor %}
                  {% endfor %}
               </select>
            </div>
				<div class="form-group">
               <label>Password Group to share:</label>
               <select class="form-control" name=group required>
                  {% for group in groups %}
                     {% for name in group %}
                        <option value="{{name}}">{{name}}</option>
                     {% endfor %}
                  {% endfor %}
               </select>
            </div>
				<div class="form-group">
               <label>Password:</label>
               <input class="form-control" type="password" name="password" required>
            </div>
            <button class="btn btn-primary" type="submit" id="share">Share</button>
         </form>
         <br>
         <div class="alert alert-warning" role="alert">
            Note: Shared groups will not be visible to the other user until next time they log in.
         </div>
      </div>
   </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='share.js') }}"></script>
<script type="text/javascript">
   window.addEventListener('load', function () {
      setSalt({{salt|safe}});
   }, false);
</script>
{% endblock %}