{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <br></br>
    <table>
      <tr id=header_row>
        <th>Account</th>
        <th>Domain</th>
        <th>Password</th>
        <th>Type</th>
        <th>Note</th>
        <th>Group</th>
      </tr>
      {% for num in range(1, count) %}
        <tr class="{{ loop.cycle('odd', 'even') }}" id="{{ loop.index }}">
            <td id="account"></td>
            <td id="domain"></td>
            <td id="password"></td>
            <td id="type"></td>
            <td id="note"></td>
            <td id="group"></td>
        </tr>
      {% endfor %}
    </table>
    <a class="action" href="{{ url_for('add_pass')}}" id="add">Add</a>
    <a class="action" href="{{ url_for('share') }}" id="share_link">Share</a>
    <script type="text/javascript" src="{{ url_for('static', filename='show.js') }}"></script>
    <script type="text/javascript">
      decrypt({{pswds|safe}}, {{keys|safe}}, {{count}});
    </script>
  {% endif %}
{% endblock %}