{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <div class="col-lg">
      <div class="row">
        <div class="col-lg">
          <table class="table table-striped">
            <tr id=header_row>
              <th>Account</th>
              <th>Domain</th>
              <th>Password</th>
              <th>Type</th>
              <th>Note</th>
              <th>Group</th>
            </tr>
            {% for num in range(0, count) %}
              <tr id="{{ num }}">
                  <td id="account"></td>
                  <td id="domain"></td>
                  <td id="password"></td>
                  <td id="type"></td>
                  <td id="note"></td>
                  <td id="group"></td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>

      <div class="row align-items-end justify-content-start">
        <div class="col-sm">
          <a class="btn btn-primary" href="{{ url_for('add_pass')}}" id="add">Add</a>
          <a class="btn btn-primary" href="{{ url_for('share') }}" id="share_link">Share</a>
        <div>
      </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='show.js') }}"></script>
    <script type="text/javascript">
      window.addEventListener('load', function () {
        decrypt({{pswds|safe}}, {{keys|safe}});
      }, false);
    </script>
  {% endif %}
{% endblock %}