{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <a href="{{ url_for('share') }}" id="Share">Share</a>
      <br></br>
    <table>
      <tr>
        <th>Account</th>
        <th>Domain</th>
        <th>Password</th>
        <th>Type</th>
        <th>Note</th>
        <th>Group</th>
      </tr>
      {% for pswd in pswds %}
        <tr>
          {% for item in pswd %}
            <td>{{ item }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
    <br></br>
    <a href="{{ url_for('add_pass')}}" id="add">Add</a>
  {% endif %}
  <form action="{{ url_for('add_pass') }}" method=post class=add-entry id="Form">
      <dl>
        <dt>Account:
        <dd><input type=text size=30 name=account>
        <dt>Password:
        <dd><textarea name=text rows=5 cols=40 id="password"></textarea>
      </dl>
    </form>
  <button  type="button" id="Magic">Click Me!</button>
  <script type="text/javascript" src="{{ url_for('static', filename='transferTest.js') }}"></script>
{% endblock %}